{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/setting.css' %}">
<link rel="stylesheet" href="{% static 'css/header-style.css' %}">
<link rel="stylesheet" href="{% static 'css/header-fontStyle.css' %}">
<link rel="stylesheet" href="{% static 'css/slider-style.css' %}">
<link rel="stylesheet" href="{% static 'css/feature-news.css' %}">
<link rel="stylesheet" href="{% static 'css/left&right-side.css' %}">
<link rel="stylesheet" href="{% static 'css/main-side.css' %}">
<link rel="stylesheet" href="{% static 'css/guid.css' %}">
<link rel="stylesheet" href="{% static 'css/review.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">