{#--detailPage--#}
{% extends 'home_module/detailPage.html' %}
{% load jalali_tags %}

{% block title %}
    {{ article.title}}
{% endblock %}

{% block main-side %}
    <div id="main-side" class="col-md-9 col-lg-9">
                    <div class="card mb-3 p-5">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <div class="my-2" style="display: flex;flex-direction: row">
                        {% for cat in article.selected_categories.all %}
                            <a class="category_link" href="{% url 'home-page-by-category' category=cat.url_title %}">
                            {% if article.selected_categories.last == cat %}
                                <h6 class="card-subtitle text-muted border-bottom"> {{ cat.title }} </h6>
                                {% else %}
                                <h6 class="card-subtitle text-muted border-bottom"> {{ cat.title }} , </h6>
                            {% endif %}
                            </a>
                            {% endfor %}
                            <h6 class="card-subtitle text-muted pe-4">{{ article.create_date |to_jalali }}</h6>
                        </div>
                        <p class="card-text"><small class="text-muted">{{ article.author }}</small></p>
                          <div class="card-body">
                              <img class="card-img-bottom" src="{{ article.image.url }}" alt="Card image cap">
                            <p class="card-text my-3" style="line-height: 30px">
                                {{ article.text }}
                            </p>
                          </div>
                    </div>
    </div>
{% endblock %}