{% extends "shared/_layout.html" %}

{% block header %}
    <style>
      * {
        font-family: "IranSans";
      }
      p#head{
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 10px 0 20px;
     }

     p#head span {
         background:#f3f3f3;
         padding:0 10px;
     }
    </style>
{% endblock %}

{% block content %}
<section id="contactUs-form" class="m-5">
        <div class="row">
            <div id="form-section" class="col-md-6" dir="rtl">
                <div class="col-md-12" style="text-align: center;margin-bottom: 50px;">
                    <p id="head"><span>با ما در تماس باشید</span></p>
                </div>
                <form class="col-md-12" action="">
                    <div class="row form-group">
                        <div class="col-md-6 mb-4">
                            <input class="form-control p-2" type="text" id="contactUsName" placeholder="نام">
                        </div>
                        <div class="col-md-6 mb-4">
                            <input class="form-control p-2" type="text" id="contactUsEmail" placeholder="ایمیل">
                        </div>
                        <div class="col-md-12 mb-4">
                            <input class="form-control p-2" type="text" id="contactUsName" placeholder="موضوع">
                        </div>
                        <div class="col-md-12 mb-4">
                            <textarea class="form-control p-2" rows="5" cols="50" id="contactUsName" placeholder="پیغام شما"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">
                                ارسال
                            </button>
                        </div>
                    </div>

                </form>
            </div>
            <div id="aboutus-section" class="col-md-6" dir="rtl">
                <div class="col-md-12" style="text-align: center;margin-bottom: 50px;">
                    <p id="head"><span>اطلاعات تماس</span></p>
                </div>
                <div class="col-md-12" style="padding-right: 100px;">
                    <p>آدرس</p>
                    <p>آدرس</p>
                    <p>آدرس</p>
                    <p>آدرس</p>
                    <p>آدرس</p>
                </div>
            </div>
        </div>

    </section>
{% endblock %}