{% load static %}
{% load render_partial %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {#  --- header urls ---  #}
    {% include "shared/includes/header_urls.html" %}
    {% block header %}{% endblock %}


</head>
    <!-- |----header Section----| -->
    {% render_partial "home_module.views.HeaderSection_Component" %}
    <!-- |----header Section----| -->

    {# body section #}
    {% block content %}{% endblock %}

    <!-- |----footer Section----|  -->
    {% render_partial 'home_module.views.FooterSection_Component' %}
    <!-- |----footer Section----|  -->

    {#  --- footer urls ---  #}
    {% include "shared/includes/footer_urls.html" %}
    {% block footer %}{% endblock %}

</html>