<!-- |----body Section----|  -->
<section id="body">
    <div class="container">
        <div class="row" style="text-align:center; direction: rtl;">
        <!-- /---right side---/ -->
          <div id="right-side" class="d-none d-md-flex col-md-3 col-lg-3 flex-column">
            <!-- title -->
            <div class="card">
                <div id="side-header" class="p-2 col-12">
                    پربازدیدترین مطالب
                </div>
            </div>
            <!-- posts -->
            <div class="card mb-2">
                <a href="#">
                    <img src="static/imgs/top-view-post/1.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="">
                        <p class="card-text">کدام حیوان پرجمعیت‌ترین گروه را روی زمین دارد؟</p>
                    </a>
                </div>
            </div>
            <div class="card my-2">
                <a href="#">
                    <img src="static/imgs/top-view-post/2.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="">
                        <p class="card-text">با افزایش سرعت چرخش زمین، رکورد کوتاه‌ترین روز تاریخ شکسته شد</p>
                    </a>
                </div>
            </div>
            <div class="card my-2">
                <a href="#">
                    <img src="static/imgs/top-view-post/3.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="">
                        <p class="card-text">آیا اینستاگرام گرفتن اسکرین‌شات از استوری را به کاربر اطلاع‌رسانی می‌کند؟</p>
                    </a>
                </div>
            </div>
            <div class="card my-2">
                <a href="#">
                    <img src="static/imgs/top-view-post/4.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="">
                        <p class="card-text">جدیدترین تصاویر تلسکوپ فضایی جیمز وب، کهکشان چرخ گاری را نشان می‌دهند</p>
                    </a>
                </div>
            </div>
            <div class="card my-2">
                <a href="#">
                    <img src="static/imgs/top-view-post/4.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="">
                        <p class="card-text">جدیدترین تصاویر تلسکوپ فضایی جیمز وب، کهکشان چرخ گاری را نشان می‌دهند</p>
                    </a>
                </div>
            </div>
            <div class="card my-2">
                <a href="#">
                    <img src="static/imgs/top-view-post/4.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="">
                        <p class="card-text">جدیدترین تصاویر تلسکوپ فضایی جیمز وب، کهکشان چرخ گاری را نشان می‌دهند</p>
                    </a>
                </div>
            </div>
            <div class="card my-2">
                <a href="#">
                    <img src="static/imgs/top-view-post/4.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="">
                        <p class="card-text">جدیدترین تصاویر تلسکوپ فضایی جیمز وب، کهکشان چرخ گاری را نشان می‌دهند</p>
                    </a>
                </div>
            </div>
            <div class="card my-2">
                <a href="#">
                    <img src="static/imgs/top-view-post/4.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="">
                        <p class="card-text">جدیدترین تصاویر تلسکوپ فضایی جیمز وب، کهکشان چرخ گاری را نشان می‌دهند</p>
                    </a>
                </div>
            </div>

            </div>

        <!-- /---main side---/ -->
          <div id="main-side" class="col-md-9 col-lg-6">
                <!-- title -->
                <div class="card">
                    <div id="side-header" class="p-2 col-12">
                        مطالب جدید
                    </div>
                </div>
                <!-- posts -->
                <div class="card px-2 py-3">
                    <div class="row g-0">
                        <div class="col-4 p-0">
                            <a href="#">
                                <img src="static/imgs/main-posts/1.jpg" class="img-fluid" alt="...">
                            </a>
                        </div>
                        <div class="col-8">
                            <div class="card-body p-2 pe-3">
                                <a href="#">
                                    <h6 class="card-subtitle text-muted">موبایل</h6>
                                </a>
                                <a href="#">
                                    <h5 class="py-2 card-title">وان پلاس ایس پرو معرفی شد؛ مدل ری‌برند‌شده گوشی 10T با رابط کاربری ColorOS</h5>
                                </a>
                                <a href="">
                                    <h6 class="card-author">
                                        مبین احمدی | ۰۹:۴۵ ۱۴۰۱/۰۵/۱۹ | + دیدگاه
                                    </h6>
                                </a>
                                <a href="#">
                                    <p class="py-2 card-text">وان پلاس ایس پرو، مدل ری‌برند‌شده‌ی وان پلاس 10T، با پردازنده‌ی Snapdragon 8+ Gen 1 و دوربین سه‌گانه و رابط کاربری ColorOS برای بازار چین معرفی شد.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card px-2 py-3">
                    <div class="row g-0">
                        <div class="col-4 p-0">
                            <a href="#">
                                <img src="static/imgs/main-posts/2.jpg" class="img-fluid" alt="...">
                            </a>
                        </div>
                        <div class="col-8">
                            <div class="card-body p-2 pe-3">
                                <a href="#">
                                    <h6 class="card-subtitle text-muted">پوشیدنی ها</h6>
                                </a>
                                <a href="#">
                                    <h5 class="py-2 card-title">پوستر تبلیغاتی Xiaomi S1 Pro تاریخ رونمایی و جزئیات طراحی این ساعت هوشمند را نشان می‌دهد</h5>
                                </a>
                                <a href="">
                                    <h6 class="card-author">
                                        مصطفی عسگری | ۰۹:۳۰ ۱۴۰۱/۰۵/۱۹ | + دیدگاه
                                    </h6>
                                </a>
                                <a href="#">
                                    <p class="py-2 card-text">با انتشار پوستر تبلیغاتی واچ اس ۱ پرو توسط شیائومی، طراحی و تاریخ رونمایی این ساعت هوشمند فاش شد.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card px-2 py-3">
                    <div class="row g-0">
                        <div class="col-4 p-0">
                            <a href="#">
                                <img src="static/imgs/main-posts/3.jpg" class="img-fluid" alt="...">
                            </a>
                        </div>
                        <div class="col-8">
                            <div class="card-body p-2 pe-3">
                                <a href="#">
                                    <h6 class="card-subtitle text-muted">انرژی و محیط زیست</h6>
                                </a>
                                <a href="#">
                                    <h5 class="py-2 card-title">Parallels Desktop 18 نصب ویندوز 11 را در مک‌های مجهز به تراشه‌های اینتل آسان می‌کند</h5>
                                </a>
                                <a href="">
                                    <h6 class="card-author">
                                        مجتبی بوالحسنی | ۲۱:۳۰ ۱۴۰۱/۰۵/۱۸ | 9 دیدگاه
                                    </h6>
                                </a>
                                <a href="#">
                                    <p class="py-2 card-text">جدیدترین به‌روزرسانی مجازی‌ساز Parallels Desktop، امکان نصب آسان‌تر ویندوز ۱۱ روی مک‌های مجهز به تراشه‌های اینتل را فراهم می‌کند.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card px-2 py-3">
                    <div class="row g-0">
                        <div class="col-4 p-0">
                            <a href="#">
                                <img src="static/imgs/main-posts/4.jpg" class="img-fluid" alt="...">
                            </a>
                        </div>
                        <div class="col-8">
                            <div class="card-body p-2 pe-3">
                                <a href="#">
                                    <h6 class="card-subtitle text-muted">سیستم عامل</h6>
                                </a>
                                <a href="#">
                                    <h5 class="py-2 card-title">مایکروسافت مشکل بازکردن اسناد XPS در ویندوز 10 و 11 را تأیید کرد</h5>
                                </a>
                                <a href="">
                                    <h6 class="card-author">
                                        حمید عابدینی | ۲۱:۰۰ ۱۴۰۱/۰۵/۱۸ | 10 دیدگاه
                                    </h6>
                                </a>
                                <a href="#">
                                    <p class="py-2 card-text">
                                        مایکروسافت رسماً وجود ایراد در بازکردن فایل‌های XPS به زبان غیرانگلیسی در ویندوزهای 10 و 11 را تأیید کرد.
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card px-2 py-3">
                    <div class="row g-0">
                        <div class="col-4 p-0">
                            <a href="#">
                                <img src="static/imgs/main-posts/4.jpg" class="img-fluid" alt="...">
                            </a>
                        </div>
                        <div class="col-8">
                            <div class="card-body p-2 pe-3">
                                <a href="#">
                                    <h6 class="card-subtitle text-muted">سیستم عامل</h6>
                                </a>
                                <a href="#">
                                    <h5 class="py-2 card-title">مایکروسافت مشکل بازکردن اسناد XPS در ویندوز 10 و 11 را تأیید کرد</h5>
                                </a>
                                <a href="">
                                    <h6 class="card-author">
                                        حمید عابدینی | ۲۱:۰۰ ۱۴۰۱/۰۵/۱۸ | 10 دیدگاه
                                    </h6>
                                </a>
                                <a href="#">
                                    <p class="py-2 card-text">
                                        مایکروسافت رسماً وجود ایراد در بازکردن فایل‌های XPS به زبان غیرانگلیسی در ویندوزهای 10 و 11 را تأیید کرد.
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card px-2 py-3">
                    <div class="row g-0">
                        <div class="col-4 p-0">
                            <a href="#">
                                <img src="static/imgs/main-posts/4.jpg" class="img-fluid" alt="...">
                            </a>
                        </div>
                        <div class="col-8">
                            <div class="card-body p-2 pe-3">
                                <a href="#">
                                    <h6 class="card-subtitle text-muted">سیستم عامل</h6>
                                </a>
                                <a href="#">
                                    <h5 class="py-2 card-title">مایکروسافت مشکل بازکردن اسناد XPS در ویندوز 10 و 11 را تأیید کرد</h5>
                                </a>
                                <a href="">
                                    <h6 class="card-author">
                                        حمید عابدینی | ۲۱:۰۰ ۱۴۰۱/۰۵/۱۸ | 10 دیدگاه
                                    </h6>
                                </a>
                                <a href="#">
                                    <p class="py-2 card-text">
                                        مایکروسافت رسماً وجود ایراد در بازکردن فایل‌های XPS به زبان غیرانگلیسی در ویندوزهای 10 و 11 را تأیید کرد.
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card px-2 py-3">
                    <div class="row g-0">
                        <div class="col-4 p-0">
                            <a href="#">
                                <img src="static/imgs/main-posts/4.jpg" class="img-fluid" alt="...">
                            </a>
                        </div>
                        <div class="col-8">
                            <div class="card-body p-2 pe-3">
                                <a href="#">
                                    <h6 class="card-subtitle text-muted">سیستم عامل</h6>
                                </a>
                                <a href="#">
                                    <h5 class="py-2 card-title">مایکروسافت مشکل بازکردن اسناد XPS در ویندوز 10 و 11 را تأیید کرد</h5>
                                </a>
                                <a href="">
                                    <h6 class="card-author">
                                        حمید عابدینی | ۲۱:۰۰ ۱۴۰۱/۰۵/۱۸ | 10 دیدگاه
                                    </h6>
                                </a>
                                <a href="#">
                                    <p class="py-2 card-text">
                                        مایکروسافت رسماً وجود ایراد در بازکردن فایل‌های XPS به زبان غیرانگلیسی در ویندوزهای 10 و 11 را تأیید کرد.
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        <!-- /---left side---/ -->
          <div id="left-side" class="d-none d-lg-flex col-lg-3 flex-column align-items-end">
            <!-- title -->
            <div class="card w-100">
                <div id="side-header" class="p-2 col-12">
                    آموزش
                </div>
            </div>
            <!-- posts -->
            <div class="card px-2 py-3">
                <div class="row g-0">
                    <div class="col-4 d-flex align-items-center p-0">
                        <a href="#">
                            <img style="height:100% ;" src="static/imgs/learn/1.jpg" class="img-fluid" alt="...">
                        </a>
                    </div>
                    <div class="col-8">
                        <div class="card-body p-1">
                            <a href="">
                                <p class="card-text">اسکن عکس و اسناد در آیفون و اندروید +‌ معرفی اپلیکیشن</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card px-2 py-3">
                <div class="row g-0">
                    <div class="col-4 d-flex align-items-center p-0">
                        <a href="#">
                            <img style="height:100% ;" src="static/imgs/learn/2.jpg" class="img-fluid" alt="...">
                        </a>
                    </div>
                    <div class="col-8">
                        <div class="card-body p-1">
                            <a href="">
                                <p class="card-text">نحوه ذخیره فایل صوتی و ویس در واتساپ</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card px-2 py-3">
                <div class="row g-0">
                    <div class="col-4 d-flex align-items-center p-0">
                        <a href="#">                            <img style="height:100% ;" src="static/imgs/learn/3.jpg" class="img-fluid" alt="..."></a>
                    </div>
                    <div class="col-8">
                        <div class="card-body p-1">
                            <a href="">
                                <p class="card-text">Google Family Link چیست ؛ مدیریت و نظارت بر فعالیت کودکان</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card px-2 py-3">
                <div class="row g-0">
                    <div class="col-4 d-flex align-items-center p-0">
                        <a href="#">
                            <img style="height:100% ;" src="static/imgs/learn/4.jpg" class="img-fluid" alt="...">
                        </a>
                    </div>
                    <div class="col-8">
                        <div class="card-body p-1">
                            <a href="">
                                <p class="card-text">
                                    آموزش گرفتن اسکرین شات در ویندوز 11</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card px-2 py-3">
                <div class="row g-0">
                    <div class="col-4 d-flex align-items-center p-0">
                        <a href="#">                           <img style="height:100% ;" src="static/imgs/learn/4.jpg" class="img-fluid" alt="..."></a>
                    </div>
                    <div class="col-8">
                        <div class="card-body p-1">
                            <a href="">
                                <p class="card-text">
                                    آموزش گرفتن اسکرین شات در ویندوز 11</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card px-2 py-3">
                <div class="row g-0">
                    <div class="col-4 d-flex align-items-center p-0">
                        <a href="#">
                            <img style="height:100% ;" src="static/imgs/learn/4.jpg" class="img-fluid" alt="...">
                        </a>
                    </div>
                    <div class="col-8">
                        <div class="card-body p-1">
                            <a href="">
                                <p class="card-text">
                                    آموزش گرفتن اسکرین شات در ویندوز 11</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card px-2 py-3">
                <div class="row g-0">
                    <div class="col-4 d-flex align-items-center p-0">
                        <a href="#">
                            <img style="height:100% ;" src="static/imgs/learn/4.jpg" class="img-fluid" alt="...">
                        </a>
                    </div>
                    <div class="col-8">
                        <div class="card-body p-1">
                            <a href="">
                                <p class="card-text">
                                    آموزش گرفتن اسکرین شات در ویندوز 11</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card px-2 py-3">
                <div class="row g-0">
                    <div class="col-4 d-flex align-items-center p-0">
                        <a href="#">
                            <img style="height:100% ;" src="static/imgs/learn/4.jpg" class="img-fluid" alt="...">
                        </a>
                    </div>
                    <div class="col-8">
                        <div class="card-body p-1">
                            <a href="">
                                <p class="card-text">
                                    آموزش گرفتن اسکرین شات در ویندوز 11</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card px-2 py-3">
                <div class="row g-0">
                    <div class="col-4 d-flex align-items-center p-0">
                        <a href="#">
                            <img style="height:100% ;" src="static/imgs/learn/4.jpg" class="img-fluid" alt="...">
                        </a>
                    </div>
                    <div class="col-8">
                        <div class="card-body p-1">
                            <a href="">
                                <p class="card-text">
                                    آموزش گرفتن اسکرین شات در ویندوز 11</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card px-2 py-3">
                <div class="row g-0">
                    <div class="col-4 d-flex align-items-center p-0">
                        <a href="#">
                            <img style="height:100% ;" src="static/imgs/learn/4.jpg" class="img-fluid" alt="...">
                        </a>
                    </div>
                    <div class="col-8">
                        <div class="card-body p-1">
                            <a href="">
                                <p class="card-text">
                                    آموزش گرفتن اسکرین شات در ویندوز 11</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card px-2 py-3">
                <div class="row g-0">
                    <div class="col-4 d-flex align-items-center p-0">
                        <a href="#">
                            <img style="height:100% ;" src="static/imgs/learn/4.jpg" class="img-fluid" alt="...">
                        </a>
                    </div>
                    <div class="col-8">
                        <div class="card-body p-1">
                            <a href="">
                                <p class="card-text">
                                    آموزش گرفتن اسکرین شات در ویندوز 11</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- |----body Section----|  -->