<!-- |----footer Section----|  -->
<footer>
    <div class="container">
        <div class="row d-flex flex-row-reverse">
            <!--  col 1 form right -->
            <div id="footer-col-1" class="col-md-6 col-lg-3 d-flex flex-column">
                <h5 class="py-4">آنچه دیگران بیشتر خوانده اند</h5>
                <div class="card px-2 py-2">
                    <div class="row g-0 d-flex flex-row-reverse">
                        <div class="col-4 d-flex align-items-center p-0">
                            <a href="#">
                                <img style="height:100% ;" src="static/imgs/learn/2.jpg" class="img-fluid" alt="...">
                                <span>1401/1/1</span>
                            </a>
                        </div>
                        <div class="col-8">
                            <div class="card-body p-1">
                                <a href="">
                                    <p class="card-text pe-2">نحوه ذخیره فایل صوتی و ویس در واتساپ</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card px-2 py-2">
                    <div class="row g-0 d-flex flex-row-reverse">
                        <div class="col-4 d-flex align-items-center p-0">
                            <a href="#">
                                <img style="height:100% ;" src="static/imgs/learn/2.jpg" class="img-fluid" alt="...">
                                <span>1401/1/1</span>
                            </a>
                        </div>
                        <div class="col-8">
                            <div class="card-body p-1">
                                <a href="">
                                    <p class="card-text pe-2">نحوه ذخیره فایل صوتی و ویس در واتساپ</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card px-2 py-2">
                    <div class="row g-0 d-flex flex-row-reverse">
                        <div class="col-4 d-flex align-items-center p-0">
                            <a href="#">
                                <img style="height:100% ;" src="static/imgs/learn/2.jpg" class="img-fluid" alt="...">
                                <span>1401/1/1</span>
                            </a>
                        </div>
                        <div class="col-8">
                            <div class="card-body p-1">
                                <a href="">
                                    <p class="card-text pe-2">نحوه ذخیره فایل صوتی و ویس در واتساپ</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- col 2 from right -->
            <div id="footer-col-2" class="col-md-6 col-lg-3 d-flex flex-column">
                <h5 class="py-4">کمی از تکنولوژی فاصله بگیرید</h5>
                <div class="card px-2 py-2">
                    <div class="row g-0 d-flex flex-row-reverse">
                        <div class="col-4 d-flex align-items-center p-0">
                            <a href="#">
                                <img style="height:100% ;" src="static/imgs/learn/2.jpg" class="img-fluid" alt="...">
                                <span>1401/1/1</span>
                            </a>
                        </div>
                        <div class="col-8">
                            <div class="card-body p-1">
                                <a href="#">
                                    <p class="card-text pe-2">نحوه ذخیره فایل صوتی و ویس در واتساپ</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card px-2 py-2">
                    <div class="row g-0 d-flex flex-row-reverse">
                        <div class="col-4 d-flex align-items-center p-0">
                            <a href="#">
                                <img style="height:100% ;" src="static/imgs/learn/2.jpg" class="img-fluid" alt="...">
                                <span>1401/1/1</span>
                            </a>
                        </div>
                        <div class="col-8">
                            <div class="card-body p-1">
                                <a href="">
                                    <p class="card-text pe-2">نحوه ذخیره فایل صوتی و ویس در واتساپ</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card px-2 py-2">
                    <div class="row g-0 d-flex flex-row-reverse">
                        <div class="col-4 d-flex align-items-center p-0">
                            <a href="#">
                                <img style="height:100% ;" src="static/imgs/learn/2.jpg" class="img-fluid" alt="...">
                                <span>1401/1/1</span>
                            </a>
                        </div>
                        <div class="col-8">
                            <div class="card-body p-1">
                                <a href="">
                                    <p class="card-text pe-2">نحوه ذخیره فایل صوتی و ویس در واتساپ</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- col 3 from right -->
            <div id="footer-col-3" class="col-md-6 col-lg-3 d-flex flex-column">
                <h6 class="py-4">کاربران بیشتر دنبال چه چیزی هستند</h6>
                <a href="#">قیمت گوشی سامسونگ</a>
                <a href="#">قیمت گوشی آیفون</a>
                <a href="#">قیمت گوشی هواوی</a>
                <a href="#">قیمت گوشی شیائومی</a>
                <a href="#">قیمت لپتاپ ایسوس</a>
                <a href="#">قیمت لپتاپ لنوو</a>
                <a href="#">قیمت تلویزیون ال جی</a>
                <a href="#">قیمت تلویزیون سامسونگ</a>
                <a href="#">قیمت هندزفری سامسونگ</a>
                <a href="#">قیمت هندزفری شیائومی</a>
            </div>
            <!-- col 4 form right -->
            <div id="footer-col-4" class="col-md-6 col-lg-3 d-flex flex-column">
                <h6 class="py-4">خانواده زومیت</h6>
                <a href="#">زومیت</a>
                <a href="#">کجارو</a>
                <a href="#">زومجی</a>
                <a href="#">پدال</a>
            </div>

        </div>
        <div id="brand" class=" col-lg-12 p-3 m-0">
            <img src="https://cdn01.zoomit.ir/assets/logos/zoomit_logo_h.svg" alt="">
        </div>

    </div>
</footer>
<!-- |----footer Section----|  -->
<section id="copyright">
    <div class="container py-2">
        <div class=" row d-flex flex-row-reverse justify-content-between">
            <div class="col-lg-6" style="text-align:right;">
                <p>کپی بخش یا کل هر کدام از مطالب زومیت تنها با کسب مجوز مکتوب امکان پذیر است.</p>
            </div>
            <div class="col-lg-6 d-flex flex-row-reverse justify-content-end">
                <a class="px-2" href="#">درباره ما</a>
                <a class="px-2" href="#">تبلیغات در زومیت</a>
                <a class="px-2" href="{% url 'contactUs-page' %}">تماس با ما</a>
            </div>
        </div>
    </div>
</section>