{% load static %}
<section id="grid-item-row" class="my-2">
    <div class="container">
        <div class="row" dir="rtl">
            <!-- /---slider section---/ -->
            <div class="col-md-9 slider">
                {% for article in article_list %}
                      <div id="slider-post-{{ forloop.counter }}" style="background-image:url('{{ article.image.url }}');" class="slider-post">
                    <a href="{% url 'detail-page' slug=article.slug %}">
                        <p>
                            {{ article.title}}
                        </p>
                    </a>
                </div>
                {% endfor %}
                </div>
            <!-- /---tablight section---/ -->
            <div class="tabligh col-md-3">
                <div id="tabligh-post-6" class="tabligh-post">
                    <img src="{% static 'imgs/item-grid-row/sliderTabligh1.gif' %}" alt="">
                </div>
                <div id="tabligh-post-7" class="tabligh-post">
                    <img src="{% static 'imgs/item-grid-row/sliderTabligh2.gif' %}" alt="">
                </div>
            </div>
        </div>

    </div>
</section>