{% load render_partial %}
<header>
        <!-- /---hot menu---/ -->
        <div id="hotMenu">
            <div class="container">
                <ul class="d-none d-lg-flex flex-row-reverse">
                    <li id="trending" class="p-2"><a href="#">
                        موضوعات داغ
                        <i class="fa fa-fire" style="color: red; font-size: 15px;"></i>
                    </a></li>
                    <li class="p-2"><a href="#">قیمت گوشی</a></li>
                    <li class="p-2"><a href="#">ساخت اپل ایدی</a></li>
                    <li class="p-2"><a href="#">تلگرام پریموم</a></li>
                    <li class="p-2"><a href="#">دانلود از یوتوب</a></li>
                    <li class="p-2"><a href="#">جمیز وب</a></li>
                    <li class="me-auto p-2"><a href="#">تبلیغات</a></li>
                    <li class="p-2"><a href="#">درباره زومیت</a></li>
                </ul>
            </div>
        </div>
        {% render_partial "article_module.views.header_main_menuView" %}
</header>