<!-- |----header Section----| -->
<header>
        <!-- /---hot menu---/ -->
        <div id="hotMenu">
            <div class="container">
                <ul class="d-none d-lg-flex flex-row-reverse">
                    <li id="trending" class="p-2"><a href="#">
                        موضوعات داغ
                        <i class="fa fa-fire" style="color: red; font-size: 15px;"></i>
                    </a></li>
                    <li class="p-2"><a href="#">قیمت گوشی</a></li>
                    <li class="p-2"><a href="#">ساخت اپل ایدی</a></li>
                    <li class="p-2"><a href="#">تلگرام پریموم</a></li>
                    <li class="p-2"><a href="#">دانلود از یوتوب</a></li>
                    <li class="p-2"><a href="#">جمیز وب</a></li>
                    <li class="me-auto p-2"><a href="#">تبلیغات</a></li>
                    <li class="p-2"><a href="#">درباره زومیت</a></li>
                </ul>
            </div>
        </div>
        <!-- /---main menu on lg and bigger---/ -->
        <nav id="mainMenu" class="main-lg w-100" style="z-index:1000;">
            <div class="container">
                <ul class="d-none d-lg-flex flex-row-reverse">
                    <li class="px-lg-2 px-md-1 py-4">
                        <a href="#">
                            <img id="brand" src="https://www.zoomit.ir/Themes/Zoomit.ir/UI/src/mediaFiles/img/zoomit_logo_h.svg" alt="">
                        </a>
                    </li>
                    <li class="px-lg-2 py-4">
                        <a href="#">
                            <i class=""></i>
                            محصولات
                        </a>
                    </li>
                    <li class="main-subMegaMenu px-lg-2 py-4 position-relative">
                        <a href="#">
                            <i class="fa fa-caret-down"></i>
                            زومیت
                        </a>
                        <ul id="main-megaMenu" class="d-none d-lg-none flex-column position-absolute pe-4 py-3 ps-3">
                            <li class="p-1">
                                <a href="#">
                                    تبلیغات
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    درباره ما
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    تماس با ما
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    استخدام
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-subMegaMenu px-lg-2 py-4">
                        <a href="#">
                            <i class="fa fa-caret-down"></i>
                            فناوری
                        </a>
                    </li>
                    <li class="main-subMegaMenu px-lg-2 py-4 position-relative">
                        <a href="#">
                            <i class="fa fa-caret-down"></i>
                            برسی
                        </a>
                        <ul id="main-megaMenu" class="d-none d-lg-none flex-column position-absolute pe-4 py-3 ps-3">
                            <li class="p-1">
                                <a href="#">
                                   برسی موبایل
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    برسی لپتاپ
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    برسی پوشیدنی ها
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    برسی تبلت
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    برسی تلویزیون
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    برسی اسپیکر
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    برسی ویدیویی
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    همه برسی ها
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-subMegaMenu px-lg-2 py-4 position-relative">
                        <a href="#">
                            <i class="fa fa-caret-down"></i>
                            ویدیو
                        </a>
                        <ul id="main-megaMenu" class="d-none d-lg-none flex-column position-absolute pe-4 py-3 ps-3">
                            <li class="p-1">
                                <a href="#">
                                    برسی ویدیویی
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    نگاه نزدیک
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    زوم کست
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    ویدیو خودرو
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    هایلایت
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    جعبه گشایی
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    60 ثانیه
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    گزارش ویدویی
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-subMegaMenu px-lg-2 py-4 position-relative">
                        <a href="#">
                            <i class="fa fa-caret-down"></i>
                            خودرو
                        </a>
                        <ul id="main-megaMenu" class="d-none d-lg-none flex-column position-absolute pe-4 py-3 ps-3">
                            <li class="p-1">
                                <a href="#">
                                    اخبار خودرو
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    مقالات خودرو
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    قیمت و شرایط فروش خودرو
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    ویدیو خودرو
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    آموزش خودرو
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                   موتور اسپورت
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-subMegaMenu px-lg-2 py-4">
                        <a href="#">
                            <i class=""></i>
                            راهنمای خرید
                        </a>
                    </li>
                    <li class="main-subMegaMenu px-lg-2 py-4 position-relative">
                        <a href="#">
                            <i class="fa fa-caret-down"></i>
                            علمی
                        </a>
                        <ul id="main-megaMenu" class="d-none d-lg-none flex-column position-absolute pe-4 py-3 ps-3">
                            <li class="p-1">
                                <a href="#">
                                    نجوم
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    پزشکی و سلامت
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    علوم پایه و مهندسی
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    انرژی و محیط زیست
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-subMegaMenu px-lg-2 py-4 position-relative">
                        <a href="#">
                            <i class="fa fa-caret-down"></i>
                            کسب و کار
                        </a>
                        <ul id="main-megaMenu" class="d-none d-lg-none flex-column position-absolute pe-4 py-3 ps-3">
                            <li class="p-1">
                                <a href="#">
                                    بیوگرافی
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    مصاحبه
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                   بازاریابی اینترنتی
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-subMegaMenu px-lg-2 py-4 position-relative">
                        <a href="#">
                            <i class="fa fa-caret-down"></i>
                            زوم پلاس
                        </a>
                        <ul id="main-megaMenu" class="d-none d-lg-none flex-column position-absolute pe-4 py-3 ps-3">
                            <li class="p-1">
                                <a href="#">
                                    شاتل
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                   پازل
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                   معماری
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                    گوناگون
                                </a>
                            </li>
                            <li class="p-1">
                                <a href="#">
                                   بازی
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="me-auto px-lg-2 py-4"><a href="#">
                        <i class="fa fa-user" style="font-size:24px"></i>
                    </a></li>
                    <li class="px-lg-2 py-4"><a href="#">
                        <i class="fa fa-share-alt" style="font-size:24px"></i>
                    </a></li>
                    <li class="px-lg-2 py-4"><a href="#">
                        <i class="fa fa-search" style="font-size:24px"></i>
                    </a></li>
                </ul>
            </div>
        </nav>
        <!-- /---main menu on md and smaller---/ -->
        <div id="mainMenu">
            <div class="container-fluid">
                <div class="d-flex d-lg-none flex-row-reverse justify-content-between">
                    <a id="navIco" class="py-3" href="#">
                        <i class="fa fa-navicon" style="font-size:24px"></i>
                    </a>
                    <a class="py-3" href="#">
                        <img id="brand" src="https://www.zoomit.ir/Themes/Zoomit.ir/UI/src/mediaFiles/img/zoomit_logo_h.svg" alt="">
                    </a>
                    <a class="py-3" href="#">
                        <i class="fa fa-search" style="font-size:24px"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- /---main menu list on md and smaller---/ -->
        <div id="menuList">
            <div class="container-fluid">
                <ul id="menuList-ul" class="d-none d-lg-none flex-column" style="text-align:right;">
                    <li class="subMegaMenu">
                        <a class="p-3 d-flex justify-content-between align-items-center" href="#">
                            <i class="" style="font-size:12px"></i>
                            محصولات
                        </a>
                    </li>
                    <li class="subMegaMenu">
                        <a class="p-3 d-flex justify-content-between align-items-center" href="#">
                            <i class="fa fa-caret-left" style="font-size:12px"></i>
                            زومیت
                        </a>
                        <!-- /---li megaMenu---/ -->
                        <ul id="megaMenu" class="d-none d-lg-none flex-column position-absolute w-100">
                            <li class="p-3">
                                <a href="#">
                                    تبلیغات
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    درباره ما
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    تماس با ما
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    استخدام
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="subMegaMenu">
                        <a class="p-3 d-flex justify-content-between align-items-center" href="#">
                            <i class="fa fa-caret-left" style="font-size:12px"></i>
                            فناوری
                        </a>
                    </li>
                    <li class="subMegaMenu">
                        <a class="p-3 d-flex justify-content-between align-items-center" href="#">
                            <i class="fa fa-caret-left" style="font-size:12px"></i>
                            برسی
                        </a>
                        <!-- /---li megaMenu---/ -->
                        <ul id="megaMenu" class="d-none d-lg-none flex-column position-absolute w-100">
                            <li class="p-3">
                                <a href="#">
                                   برسی موبایل
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    برسی لپتاپ
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    برسی پوشیدنی ها
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    برسی تبلت
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    برسی تلویزیون
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    برسی اسپیکر
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    برسی ویدیویی
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    همه برسی ها
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="subMegaMenu">
                        <a class="p-3 d-flex justify-content-between align-items-center" href="#">
                            <i class="fa fa-caret-left" style="font-size:12px"></i>
                            ویدیو
                        </a>
                        <!-- /---li megaMenu---/ -->
                        <ul id="megaMenu" class="d-none d-lg-none flex-column position-absolute w-100">
                            <li class="p-3">
                                <a href="#">
                                   برسی ویدیویی
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    نگاه نزدیک
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    زوم کست
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    ویدیو خودرو
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    هایلایت
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    جعبه گشایی
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    60 ثانیه
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    گزارش ویدویی
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li  class="subMegaMenu">
                        <a class="p-3 d-flex justify-content-between align-items-center" href="#">
                            <i class="fa fa-caret-left" style="font-size:12px"></i>
                            خودرو
                        </a>
                        <!-- /---li megaMenu---/ -->
                        <ul id="megaMenu" class="d-none d-lg-none flex-column position-absolute w-100">
                            <li class="p-3">
                                <a href="#">
                                   اخبار خودرو
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    مقالات خودرو
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    قیمت و شرایط فروش خودرو
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    ویدیو خودرو
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    آموزش خودرو
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    موتور اسپورت
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li  class="subMegaMenu">
                        <a class="p-3 d-flex justify-content-between align-items-center" href="#">
                            <i class="" style="font-size:12px"></i>
                            راهنمای خرید
                        </a>
                    </li>
                    <li class="subMegaMenu">
                        <a class="p-3 d-flex justify-content-between align-items-center" href="#">
                            <i class="fa fa-caret-left" style="font-size:12px"></i>
                            علمی
                        </a>
                        <!-- /---li megaMenu---/ -->
                        <ul id="megaMenu" class="d-none d-lg-none flex-column position-absolute w-100">
                            <li class="p-3">
                                <a href="#">
                                   نجوم
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    پزشکی و سلامت
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                   علوم پایه و مهندسی
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    انرژی و محیط زیست
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="subMegaMenu">
                        <a class="p-3 d-flex justify-content-between align-items-center" href="#">
                            <i class="fa fa-caret-left" style="font-size:12px"></i>
                            کسب و کار
                        </a>
                        <!-- /---li megaMenu---/ -->
                        <ul id="megaMenu" class="d-none d-lg-none flex-column position-absolute w-100">
                            <li class="p-3">
                                <a href="#">
                                   بیوگرافی
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    مصاحبه
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                   بازاریابی اینترنتی
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="subMegaMenu">
                        <a class="p-3 d-flex justify-content-between align-items-center" href="#">
                            <i class="fa fa-caret-left" style="font-size:12px"></i>
                            زوم پلاس
                        </a>
                        <!-- /---li megaMenu---/ -->
                        <ul id="megaMenu" class="d-none d-lg-none flex-column position-absolute w-100">
                            <li class="p-3">
                                <a href="#">
                                   شاتر
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                   پازل
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                  معماری
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    گوناگون
                                </a>
                            </li>
                            <li class="p-3">
                                <a href="#">
                                    بازی
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="login-register" class="subMegaMenu">
                        <a class="p-3 d-flex justify-content-end" href="#">
                            ورود | عضویت
                            <i class="ms-2 fa fa-user-o" style="font-size:20px"></i>
                        </a>
                    </li>
                    <li id="social-icons" class="subMegaMenu">
                        <div id="wrapper" class="d-flex flex-row-reverse" href="#">
                            <a href="#">
                                <i class="fa fa-telegram"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
</header>
<!-- |----header Section----| -->