<div id="left-side" class="d-none d-lg-flex col-lg-3 flex-column align-items-end">
            <!-- title -->
            <div class="card w-100">
                <div id="side-header" class="p-2 col-12">
                    آموزش
                </div>
            </div>
            <!-- posts -->
            {% for article in article_list %}
            <div class="card px-2 py-3">
                <div class="row g-0">
                    <div class="col-4 d-flex align-items-center p-0">
                        <a href="{% url 'detail-page' slug=article.slug %}">
                            <img style="height:100% ;" src="{{ article.image.url }}" class="img-fluid" alt="...">
                        </a>
                    </div>
                    <div class="col-8">
                        <div class="card-body p-1">
                            <a href="{% url 'detail-page' slug=article.slug %}">
                                <p class="card-text">{{ article.title }}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>